.Mem {
    display: flex;
    flex-flow: row wrap;
    overflow-x: auto;
    flex-grow: 1;
}

.Modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#modal {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.Arrows {
    align-self: center;
}

#modal-card {
    background: white;
    text-align: center;
}

#modal-card img{
    max-width:100%;
}

#modal-card p{
    margin: 20px 20px;
}

#location svg{
    max-height: 15px;
    align-self: center;
    margin-left: 20px;
}
#location {
    font-style: italic;
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
}