#activeSection {
    color: black;
    font-weight: bold;
}
#selection {
    font-weight: bold;
    color: grey;
}
#nav a span{
    color: grey;
}
a.ListItemLink.is-current{
    color: black;
}
a.ListItemLink{
    font-size: 10pt;
    color: grey;
}
.ListItem {
    padding: 0 20px !important;
    font-size: 10pt;
}